.in-out-enter {
  opacity: 0;
}
.in-out-enter-active {
  opacity: 1;
  transition: all 0.3s;
}
.in-out-exit {
  opacity: 1;
}
.in-out-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.fade-down-enter {
  opacity: 0;
  margin-top: -100px;
}
.fade-down-enter-active {
  opacity: 1;
  margin-top: 0px;
  transition: all 1.5s;
}
.fade-down-exit {
  opacity: 1;
}
.fade-down-exit-active {
  margin-top: 100px;
  opacity: 0;
  transition: all 1.5s;
}

.hover-right {
  transition: 0.7s all;
}

.hover-right:hover {
  margin-right: -0.5rem;
  margin-left: 0.5rem;
}

.hover-left {
  transition: 0.7s all;
}

.hover-left:hover {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-top: 5px;
}

.preload {
  transition: none !important;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  12.5% {
    transform: translate(3, 2px);
  }
  25% {
    transform: translate(3px, 2px);
  }
  37.5% {
    transform: translate(4, 3px);
  }
  50% {
    transform: translate(0, 6px);
  }
  75% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.hover-button {
  background: linear-gradient(to left, #000 50%, #ffc391 50%) right;
  transition: 0.5s ease-out;
  background-size: 200%;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  font-family: 'InputMono';
}

.hover-button-light {
  background: linear-gradient(to left, lightgrey 50%, #ffc391 50%) right;
  transition: 0.5s ease-out;
  background-size: 200%;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  width: 100%;
  padding: 1rem;
  color: black;
  font-family: 'InputMono';
}

@media (min-width: 480px) {
  .hover-button.active:hover {
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    background-position: left;
  }
  .hover-button-light.active:hover {
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    background-position: left;
  }
}
