.in-out-enter {
  opacity: 0;
}
.in-out-enter-active {
  opacity: 1;
  transition: all 0.3s;
}
.in-out-exit {
  opacity: 1;
}
.in-out-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.hover-right {
  transition: 0.7s all;
}

.hover-right:hover  {
  margin-right: -0.5rem;
  margin-left: 0.5rem;
}

.hover-left {
  transition: 0.7s all;
}

.hover-left:hover  {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}



@media(min-width: 768px) {
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 30px;
  margin-top: 5px;
}

}

.preload{
  transition: none !important;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  12.5% { transform: translate(3,  2px); }
  25% { transform: translate(3px,  2px); }
  37.5% { transform: translate(4,  3px); }
  50%  { transform: translate(0, 6px); }
  75% { transform: translate(-3px,  3px); }
  100%   { transform: translate(0, -0px); }
}
