.in-out-enter {
  opacity: 0;
}
.in-out-enter-active {
  opacity: 1;
  transition: all 0.3s;
}
.in-out-exit {
  opacity: 1;
}
.in-out-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.hover-right {
  transition: 0.7s all;
}

.hover-right:hover  {
  margin-right: -0.5rem;
  margin-left: 0.5rem;
}

.hover-left {
  transition: 0.7s all;
}

.hover-left:hover  {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}
