

/*input mono*/
@font-face {
  font-family: "Ballpark Weiner";
  src: url("../assets/fonts/BallparkWeiner.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InputMono";
  src: url("../assets/fonts/InputMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../assets/fonts/InputMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "RayJohnson";
  src: url("../assets/fonts/RayJohnson-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "InputMono";
  src: url("../assets/fonts/InputMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Nova Stamp Bold";
  src: url("../assets/fonts/NOVASTAMP-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}




h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

strong {
  font-weight: bolder;
}

.vsp {
  font-family: 'Value Sans Pro';
}

.bpw {
  font-family: 'Ballpark Weiner';
}



